<div class="product__modals__container">
    <section class="modal__wrapper" data-modal="product-1">
        <div class="modal modalproduct">
            <div class="modal__close"  data-modal-close="product-1">
                <svg class="modal__close__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5638 1.50527L18.0589 0.000370765L9.78208 8.27719L1.50489 0L0 1.50489L8.27718 9.78208L0.000158472 18.0591L1.50505 19.564L9.78208 11.287L18.0587 19.5636L19.5636 18.0587L11.287 9.78208L19.5638 1.50527Z" fill="#1986C8"/>
                </svg>
            </div>
            <div class="modalproduct__content">
                <div class="modalproduct__content__mobile">
                    <div class="modalproduct__content__mobile__brand">
                        <img src="img/modalproduct-brand.svg" alt="" class="modalproduct__brand">
                    </div>
                    <div class="modalproduct__title">МОНОБЛОК ГРАВИТОН М40ц231232xИ5mm</div>
                    <div class="modalproduct__russian">
                        <div class="modalproduct__russian__icon" style="background-image: url(img/product-russian-active.png);"></div>
                        <div class="modalproduct__russian__title">Импортозамещение</div>
                    </div>
                </div>
                <div class="modalproduct__gallery">
                    <div class="modalproduct__gallery__main owl-carousel">
                        <div class="modalproduct__gallery__main__item" style="background-image: url(img/product.png);"></div>
                        <div class="modalproduct__gallery__main__item" style="background-image: url(https://royal-computers.ru/upload/thumbs/sborki/source/igrovye_5f0ede-min_6009a4.png);"></div>
                        <div class="modalproduct__gallery__main__item" style="background-image: url(https://ichip.ru/images/cache/2019/8/27/fit_930_519_false_crop_1200_628_0_0_q90_299852_61eb57667c.jpeg);"></div>
                        <div class="modalproduct__gallery__main__item" style="background-image: url(https://www.ferra.ru/imgs/2018/11/24/08/2464352/76d5e6fe1101ac76da1e37f12eeaf02f77ad0550.jpg);"></div>
                        <div class="modalproduct__gallery__main__item" style="background-image: url(https://topsto-crimea.ru/images/companies/1/santeh/PersonalComputer.jpg?1564658874412);"></div>
                        <div class="modalproduct__gallery__main__item" style="background-image: url(https://17.img.avito.st/640x480/8657870217.jpg);"></div>
                    </div>
                    <div class="modalproduct__gallery__thumbnails__wrapper">
                        <div class="modalproduct__gallery__thumbnails">
                            <div class="modalproduct__gallery__thumbnails__item" style="background-image: url(img/product.png);"></div>
                            <div class="modalproduct__gallery__thumbnails__item" style="background-image: url(https://royal-computers.ru/upload/thumbs/sborki/source/igrovye_5f0ede-min_6009a4.png);"></div>
                            <div class="modalproduct__gallery__thumbnails__item" style="background-image: url(https://ichip.ru/images/cache/2019/8/27/fit_930_519_false_crop_1200_628_0_0_q90_299852_61eb57667c.jpeg);"></div>
                            <div class="modalproduct__gallery__thumbnails__item" style="background-image: url(https://www.ferra.ru/imgs/2018/11/24/08/2464352/76d5e6fe1101ac76da1e37f12eeaf02f77ad0550.jpg);"></div>
                            <div class="modalproduct__gallery__thumbnails__item" style="background-image: url(https://topsto-crimea.ru/images/companies/1/santeh/PersonalComputer.jpg?1564658874412);"></div>
                            <div class="modalproduct__gallery__thumbnails__item" style="background-image: url(https://17.img.avito.st/640x480/8657870217.jpg);"></div>
                        </div>
                        <svg class="modalproduct__gallery__thumbnails__arrow slick-prev" width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.000221219 8.05217L0 8.05239L1.32595 9.37834L1.32617 9.37812L7.95582 16.0078L9.28177 14.6818L2.65212 8.05217L9.28166 1.42263L7.95571 0.0966797L1.32617 6.72621L1.32606 6.72611L0.000112467 8.05206L0.000221219 8.05217Z" fill="#1986C8"/></svg>
                        <svg class="modalproduct__gallery__thumbnails__arrow slick-next" width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.99978 8.05233L10 8.05211L8.67405 6.72615L8.67383 6.72638L2.04418 0.0967276L0.71823 1.42268L7.34788 8.05233L0.718341 14.6819L2.04429 16.0078L8.67383 9.37828L8.67394 9.37839L9.99989 8.05244L9.99978 8.05233Z" fill="#1986C8"/></svg>
                    </div>
                </div>
                <div class="modalproduct__main">
                    <div class="modalproduct__main__head">
                        <img src="img/modalproduct-brand.svg" alt="" class="modalproduct__brand">
                        <div class="modalproduct__russian">
                            <div class="modalproduct__russian__icon" style="background-image: url(img/product-russian-active.png);"></div>
                            <div class="modalproduct__russian__title">Импортозамещение</div>
                        </div>
                    </div>
                    <div class="modalproduct__title">МОНОБЛОК ГРАВИТОН М40ц231232xИ5mm</div>
                    <div class="modalproduct__price">
                        <div class="modalproduct__price__label">Цена:</div>
                        <div class="modalproduct__price__value" data-modal-product-lead-show>Запросить цену</div>
                    </div>
                    <div class="modalproduct__alert">
                        Набор LEGO® BricQ Motion погружает учащихся 5–7 классовв изучение физических концепций в контексте можно ещё воткнуть дополнительный текстовый блок для понимания как он будет выглядить
                    </div>
                    <div class="modalproduct__info">
                        <div class="modalproduct__info__label" >Информация о товаре:</div>
                        <div class="modalproduct__info__content">
                            Набор LEGO® BricQ Motion погружает учащихся 5–7 классов в изучение физических концепций в контексте
                        </div>
                    </div>
                    <div class="modalproduct__dertificates">
                        <div class="modalproduct__dertificates__label">Сертификаты:</div>
                        <div class="modalproduct__dertificates__items">
                            <a href="img/sertificate.png" data-fancybox="modal-product" class="modalproduct__dertificate">
                                <img src="img/sertificate.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="modalproduct__btns">
                        <button class="btn btn-blue" data-modal-product-lead-show>Заказать товар</button>
                        <button data-modal-product-characteristics-show class="btn btn-blue border">Технические харктеристики</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------------------------------------------------------------- -->
    <section class="modal__wrapper" data-modal-product-characteristics>
        <div class="modal modalproduct">
            <div class="modal__close" data-modal-product-characteristics-hide>
                <svg class="modal__close__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5638 1.50527L18.0589 0.000370765L9.78208 8.27719L1.50489 0L0 1.50489L8.27718 9.78208L0.000158472 18.0591L1.50505 19.564L9.78208 11.287L18.0587 19.5636L19.5636 18.0587L11.287 9.78208L19.5638 1.50527Z" fill="#1986C8"/>
                </svg>
            </div>
            <div class="modalproduct__characteristics">
                <div class="modalproduct__characteristics__head">
                    <div class="modalproduct__characteristics__back" data-modal-product-characteristics-hide>
                        <svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.000479655 11.1422L0 11.1427L1.85712 12.9998L1.8576 12.9994L11.143 22.2848L13.0002 20.4277L3.71472 11.1422L12.9998 1.85712L11.1427 0L1.8576 9.28512L1.85743 9.28495L0.000308904 11.1421L0.000479655 11.1422Z" fill="#1986C8"/>
                        </svg>
                    </div>
                    <div class="modalproduct__characteristics__img" style="background-image: url(img/product.png);"></div>
                    <div class="modalproduct__characteristics__head__text">
                        <div class="modalproduct__characteristics__head__title">Информация о товаре</div>
                        <div class="modalproduct__characteristics__head__productname">МОНОБЛОК ГРАВИТОН М40ц231232xИ 5mm</div>
                    </div>
                </div>
                <div class="modalproduct__characteristics__mobile__productname">МОНОБЛОК ГРАВИТОН М40ц231232xИ 5mm</div>
                <table class="modalproduct__characteristics__table">
                    <tbody>
                        <tr>
                            <td>Процессор</td>
                            <td>Байкал BE-M1000</td>
                        </tr>
                        <tr>
                            <td>Операционная система</td>
                            <td>Astra Linux Special Edition релиз Новороссийск версия 4.2 Альт Рабочая cтанция 9</td>
                        </tr>
                        <tr>
                            <td>Дисплей</td>
                            <td>23,8-дюймовый IPS FHD (1920 x 1080)</td>
                        </tr>
                        <tr>
                            <td>Процессор</td>
                            <td>Байкал BE-M1000</td>
                        </tr>
                        <tr>
                            <td>Операционная система</td>
                            <td>Astra Linux Special Edition релиз Новороссийск версия 4.2 Альт Рабочая cтанция 9</td>
                        </tr>
                        <tr>
                            <td>Дисплей</td>
                            <td>23,8-дюймовый IPS FHD (1920 x 1080)</td>
                        </tr>
                        <tr>
                            <td>Процессор</td>
                            <td>Байкал BE-M1000</td>
                        </tr>
                        <tr>
                            <td>Операционная система</td>
                            <td>Astra Linux Special Edition релиз Новороссийск версия 4.2 Альт Рабочая cтанция 9</td>
                        </tr>
                        <tr>
                            <td>Дисплей</td>
                            <td>23,8-дюймовый IPS FHD (1920 x 1080)</td>
                        </tr>
                        <tr>
                            <td>Процессор</td>
                            <td>Байкал BE-M1000</td>
                        </tr>
                        <tr>
                            <td>Операционная система</td>
                            <td>Astra Linux Special Edition релиз Новороссийск версия 4.2 Альт Рабочая cтанция 9</td>
                        </tr>
                        <tr>
                            <td>Дисплей</td>
                            <td>23,8-дюймовый IPS FHD (1920 x 1080)</td>
                        </tr>
                        <tr>
                            <td>Процессор</td>
                            <td>Байкал BE-M1000</td>
                        </tr>
                        <tr>
                            <td>Операционная система</td>
                            <td>Astra Linux Special Edition релиз Новороссийск версия 4.2 Альт Рабочая cтанция 9</td>
                        </tr>
                        <tr>
                            <td>Дисплей</td>
                            <td>23,8-дюймовый IPS FHD (1920 x 1080)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- -------------------------------------------------------------- -->
    <section class="modal__wrapper" data-modal-product-lead>
		<div class="modal">
			<div class="modal__close" data-modal-product-lead-hide>
				<svg class="modal__close__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M19.5638 1.50527L18.0589 0.000370765L9.78208 8.27719L1.50489 0L0 1.50489L8.27718 9.78208L0.000158472 18.0591L1.50505 19.564L9.78208 11.287L18.0587 19.5636L19.5636 18.0587L11.287 9.78208L19.5638 1.50527Z" fill="#1986C8"/>
				</svg>
			</div>
			<div class="modal__title">Свяжемся и уточним все детали</div>
			<div class="modal__desc">Оставьте свои контакты, мы ответим в ближайшее время</div>
			<form class="modal__form" data-validate='modal-form'>
				<input name="input_1" type="text" placeholder="Введите ваше имя">
				<input name="phone" type="text" placeholder="Введите ваш телефон">
				<input name="input_3" type="text" placeholder="E-mail">
				<textarea name="input_4" id="" cols="30" rows="5" placeholder="Ваш комментарий"></textarea>
				<div class="form__politics">
					<label for="producst-1" class="checkbox">
						<input data-form-politics-checkbox class="form__checkbox__politics" type="checkbox" id="producst-1" checked>
						<span class="checkbox__custom">
							<span class="checkbox__custom__circle"></span>
						</span>
					</label>
					<div class="form__politics__title">Отправляя заявку вы соглашаетесь с <a href="">политикой конфинденциальности</a></div>
				</div>
				<button class="btn btn-blue">Оставить заявку</button>
			</form>
		</div>
	</section>
</div>
