{% set title = 'Главная' %}
{% extends 'layouts/_main.html' %}
{% block content %}

<!-- ----------------------------------------------- -->
<!-- ------------------- hero ---------------------- -->
<!-- ----------------------------------------------- -->
<section class="hero">
    <div class="container">
        <div class="hero__content">
            <div class="hero__slider__wrapper">
                <div class="hero__slider owl-carousel">
                    <!-- hero__slider__item -->
                    <div class="hero__slider__item">
                        <div class="hero__slider__item__text">
                            <div class="hero__slider__item__titlebefore">Гарантия на обоурудование 1 год</div>
                            <div class="hero__slider__item__title">Продажа ноутбуков <span class="text-blue">Российских производитлей</span></div>
                            <p class="hero__slider__item__desc">С гарантией монтажа, поставки <br> и установки оборудования</p>
                            <button class="btn btn-blue hero__slider__item__btn">Узнать подробнее</button>
                        </div>
                        <div class="hero__slider__item__img" style="background-image: url(img/slider.png);">
                            <div class="hero__slider__item__img__label"></div>
                            <img src="img/slider-label.png" alt="" class="hero__slider__item__img__label" >
                        </div>
                    </div>
                    <!-- END hero__slider__item -->
                    <!-- hero__slider__item -->
                    <div class="hero__slider__item">
                        <div class="hero__slider__item__text">
                            <div class="hero__slider__item__titlebefore">Гарантия на обоурудование 1 год</div>
                            <div class="hero__slider__item__title">Продажа ноутбуков <span class="text-blue">Российских производитлей</span></div>
                            <p class="hero__slider__item__desc">С гарантией монтажа, поставки <br> и установки оборудования</p>
                            <button class="btn btn-blue hero__slider__item__btn">Узнать подробнее</button>
                        </div>
                        <div class="hero__slider__item__img" style="background-image: url(img/slider.png);">
                            <div class="hero__slider__item__img__label"></div>
                            <img src="img/slider-label.png" alt="" class="hero__slider__item__img__label" >
                        </div>
                    </div>
                    <!-- END hero__slider__item -->
                    <!-- hero__slider__item -->
                    <div class="hero__slider__item">
                        <div class="hero__slider__item__text">
                            <div class="hero__slider__item__titlebefore">Гарантия на обоурудование 1 год</div>
                            <div class="hero__slider__item__title">Продажа ноутбуков <span class="text-blue">Российских производитлей</span></div>
                            <p class="hero__slider__item__desc">С гарантией монтажа, поставки <br> и установки оборудования</p>
                            <button class="btn btn-blue hero__slider__item__btn">Узнать подробнее</button>
                        </div>
                        <div class="hero__slider__item__img" style="background-image: url(img/slider.png);">
                            <div class="hero__slider__item__img__label"></div>
                            <img src="img/slider-label.png" alt="" class="hero__slider__item__img__label" >
                        </div>
                    </div>
                    <!-- END hero__slider__item -->
                </div>
                <div class="hero__slider__dots"></div>
            </div>
            <div class="hero__form">
                <div class="hero__form__title">
                    Поможем подобрать
                    подходящее оборудование
                </div>
                <div class="hero__form__desc">
                    Оставьте заявку свяжется с Вами и поможет подобрать оборудование
                </div>
                <form action="/">
                    <input type="text" placeholder="Введите ваше имя"> 
                    <input type="text" placeholder="+7 (___) ___-__-___"> 
                    <div class="hero__form__politics">
                        <label for="1" class="checkbox">
                            <input data-form-politics-checkbox class="form__checkbox__politics" type="checkbox" id="1" checked>
                            <span class="checkbox__custom">
                                <span class="checkbox__custom__circle"></span>
                            </span>
                        </label>
                        <div class="hero__form__politics__title">Отправляя заявку вы соглашаетесь с <a href="">политикой конфинденциальности</a></div>
                    </div>
                    <button class="btn btn-red">Узнать подробнее</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ----------------------------------------------- -->
<!-- --------------- END hero ---------------------- -->
<!-- ----------------------------------------------- -->

<!-- ----------------------------------------------- -->
<!-- ----------------- preims ---------------------- -->
<!-- ----------------------------------------------- -->
<section class="preims">
    <div class="container">
        <div class="preims__items">
            <!-- preims__item -->
            <div class="preims__item gray">
                <div class="preims__item__img">
                    <img src="img/preim-1.png" alt="">
                </div>
                <div class="preims__item__text">
                    <div class="preims__item__title">Участник государственных закупок 44,223 ФЗ</div>
                </div>
            </div>
            <!-- END preims__item -->
            <!-- preims__item -->
            <div class="preims__item blue">
                <div class="preims__item__img">
                    <img src="img/preim-2.png" alt="">
                </div>
                <div class="preims__item__text">
                    <div class="preims__item__title">Работаем напрямую с производителями компьютерной техники РФ</div>
                </div>
            </div>
            <!-- END preims__item -->
            <!-- preims__item -->
            <div class="preims__item red">
                <div class="preims__item__img">
                    <img src="img/preim-3.png" alt="">
                </div>
                <div class="preims__item__text">
                    <div class="preims__item__title">Подбираем оборудование по вашему желанию и бюджету</div>
                </div>
            </div>
            <!-- END preims__item -->
            <!-- preims__item -->
            <div class="preims__item gray">
                <div class="preims__item__img">
                    <img src="img/preim-4.png" alt="">
                </div>
                <div class="preims__item__text">
                    <div class="preims__item__title">Помогаем подготовить техническую документацию на оборудование</div>
                </div>
            </div>
            <!-- END preims__item -->
            <!-- preims__item -->
            <div class="preims__item blue">
                <div class="preims__item__img">
                    <img src="img/preim-5.png" alt="">
                </div>
                <div class="preims__item__text">
                    <div class="preims__item__title">Работаем напрямую с производителями компьютерной техники РФ</div>
                </div>
            </div>
            <!-- END preims__item -->
        </div>
    </div>
</section>
<!-- ----------------------------------------------- -->
<!-- ------------- END preims ---------------------- -->
<!-- ----------------------------------------------- -->

<!-- ----------------------------------------------- -->
<!-- --------------- partners ---------------------- -->
<!-- ----------------------------------------------- -->
<section class="partners">
    <div class="container">
        <div class="partners__content">
            <div class="partners__title">Наши партнёры:</div>
            <img src="img/partner-1.png" alt="" class="partners__item">
            <img src="img/partner-2.png" alt="" class="partners__item">
            <img src="img/partner-3.png" alt="" class="partners__item">
            <img src="img/partner-4.png" alt="" class="partners__item">
            <img src="img/partner-5.png" alt="" class="partners__item">
        </div>
    </div>
</section>
<!-- ----------------------------------------------- -->
<!-- ----------- END partners ---------------------- -->
<!-- ----------------------------------------------- -->

<!-- ----------------------------------------------- -->
<!-- --------------- products ---------------------- -->
<!-- ----------------------------------------------- -->
<section class="products">
    <h2 class="products__title">Наши товары</h2>
    <div class="products__category">
        <div class="container">
            <h3 class="products__category__title">Моноблоки</h3>

            <!-- products__category__desktop -->
            <div class="products__category__desktop">
                <div class="products__category__slider owl-carousel">
                    <div class="products__category__slider__item">
                        {% for el in range(6) %}
                        <div class="products__category__slider__product">
                            <div class="products__category__slider__product__russian__preview"></div>
                            <div class="products__category__slider__product__russian">
                                <div class="products__category__slider__product__russian__icon"></div>
                                <div class="products__category__slider__product__russian__title">Импортозамещение</div>
                            </div>
                            <div class="products__category__slider__product__img" style="background-image: url(img/product.png);"></div>
                            <div class="products__category__slider__product__title">Моноблок гравитон М40И {{el}}</div>
                            <!-- <div class="products__category__slider__product__desc">
                                Надежный и производительный моноблок с экраном 23.8". Разработан и произведён в России.
                            </div> -->
                            <div class="products__category__slider__product__readmore">Подробнее</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="products__category__slider__item">
                        {% for el in range(6) %}
                        <div class="products__category__slider__product">
                            <div class="products__category__slider__product__russian__preview"></div>
                            <div class="products__category__slider__product__russian">
                                <div class="products__category__slider__product__russian__icon"></div>
                                <div class="products__category__slider__product__russian__title">Импортозамещение</div>
                            </div>
                            <div class="products__category__slider__product__img" style="background-image: url(img/product.png);"></div>
                            <div class="products__category__slider__product__title">Моноблок гравитон М40И {{el}}</div>
                            <!-- <div class="products__category__slider__product__desc">
                                Надежный и производительный моноблок с экраном 23.8". Разработан и произведён в России.
                            </div> -->
                            <div class="products__category__slider__product__readmore">Подробнее</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="products__category__slider__dots"></div>
            </div>
            <!-- END products__category__desktop -->

            <!-- products__category__mobile -->
            <div class="products__category__mobile">
                <div class="products__category__mobile__products">
                    {% for el in range(10) %}
                    <div class="products__category__slider__product product__mobile">
                        <div class="products__category__slider__product__russian__preview"></div>
                        <div class="products__category__slider__product__russian">
                            <div class="products__category__slider__product__russian__icon"></div>
                            <div class="products__category__slider__product__russian__title">Импортозамещение</div>
                        </div>
                        <div class="products__category__slider__product__img" style="background-image: url(img/product.png);"></div>
                        <div class="products__category__slider__product__title">Моноблок гравитон М40И {{el}}</div>
                        <!-- <div class="products__category__slider__product__desc">
                            Надежный и производительный моноблок с экраном 23.8". Разработан и произведён в России.
                        </div> -->
                        <div class="products__category__slider__product__readmore">Подробнее</div>
                    </div>
                    {% endfor %}
                </div>
                <button data-mobile-products-load-more class="btn btn-blue products__category__mobile__loadmore">Показать больше</button>
            </div>
            <!-- END products__category__mobile -->
        </div>
    </div>
    <div class="products__category blue">
        <div class="container">
            <h3 class="products__category__title">Моноблоки</h3>

            <!-- products__category__desktop -->
            <div class="products__category__desktop">
                <div class="products__category__slider owl-carousel">
                    <div class="products__category__slider__item">
                        {% for el in range(6) %}
                        <div class="products__category__slider__product">
                            <div class="products__category__slider__product__russian__preview"></div>
                            <div class="products__category__slider__product__russian">
                                <div class="products__category__slider__product__russian__icon"></div>
                                <div class="products__category__slider__product__russian__title">Импортозамещение</div>
                            </div>
                            <div class="products__category__slider__product__img" style="background-image: url(img/product.png);"></div>
                            <div class="products__category__slider__product__title">Моноблок гравитон М40И {{el}}</div>
                            <!-- <div class="products__category__slider__product__desc">
                                Надежный и производительный моноблок с экраном 23.8". Разработан и произведён в России.
                            </div> -->
                            <div class="products__category__slider__product__readmore">Подробнее</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="products__category__slider__item">
                        {% for el in range(6) %}
                        <div class="products__category__slider__product">
                            <div class="products__category__slider__product__russian__preview"></div>
                            <div class="products__category__slider__product__russian">
                                <div class="products__category__slider__product__russian__icon"></div>
                                <div class="products__category__slider__product__russian__title">Импортозамещение</div>
                            </div>
                            <div class="products__category__slider__product__img" style="background-image: url(img/product.png);"></div>
                            <div class="products__category__slider__product__title">Моноблок гравитон М40И {{el}}</div>
                            <!-- <div class="products__category__slider__product__desc">
                                Надежный и производительный моноблок с экраном 23.8". Разработан и произведён в России.
                            </div> -->
                            <div class="products__category__slider__product__readmore">Подробнее</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="products__category__slider__dots"></div>
            </div>
            <!-- END products__category__desktop -->

            <!-- products__category__mobile -->
            <div class="products__category__mobile">
                <div class="products__category__mobile__products">
                    <div class="products__category__slider__product product__mobile">
                        <div class="products__category__slider__product__russian__preview"></div>
                        <div class="products__category__slider__product__russian">
                            <div class="products__category__slider__product__russian__icon"></div>
                            <div class="products__category__slider__product__russian__title">Импортозамещение</div>
                        </div>
                        <div class="products__category__slider__product__img" style="background-image: url(img/product.png);"></div>
                        <div class="products__category__slider__product__title">Моноблок гравитон М40И {{el}}</div>
                        <!-- <div class="products__category__slider__product__desc">
                            Надежный и производительный моноблок с экраном 23.8". Разработан и произведён в России.
                        </div> -->
                        <div class="products__category__slider__product__readmore">Подробнее</div>
                    </div>
                </div>
                <button data-mobile-products-load-more class="btn btn-blue products__category__mobile__loadmore">Показать больше</button>
            </div>
            <!-- END products__category__mobile -->

        </div>
    </div>
</section>
<!-- ----------------------------------------------- -->
<!-- ----------- END products ---------------------- -->
<!-- ----------------------------------------------- -->

<!-- ----------------------------------------------- -->
<!-- --------------- selectionaid ------------------ -->
<!-- ----------------------------------------------- -->
<section class="selectionaid">
    <div class="container">
        <div class="selectionaid__content">
            <div class="selectionaid__content__title">Поможем подобрать и составить список необходимого оборудования</div>
            <div class="selectionaid__content__desc">Оставьте заявку и наш менеджер свяжется с вами и поможет подобрать нужное вам обородование</div>
            <button class="btn btn-red selectionaid__content__btn">Отправить заявку</button>
            <img src="img/selectionaid-2.png" alt="" class="selectionaid__content__img">
        </div>
    </div>
</section>
<!-- ----------------------------------------------- -->
<!-- ----------- END selectionaid ------------------ -->
<!-- ----------------------------------------------- -->

<!-- ----------------------------------------------- -->
<!-- ------------------- contatcs ------------------ -->
<!-- ----------------------------------------------- -->
<section class="contacts">
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__text">
                <h2 class="contacts__title">Наши контакты</h2>
                <div class="contacts__items">
                    <div class="contacts__item">
                        <div class="contacts__item__label">Телефон: </div>
                        <a href="tel:+7 (843) 247-04-97" class="contacts__item__value">+7 (843) 247-04-97</a>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item__label">Адрес: </div>
                        <div class="contacts__item__value">г. Казань, ул. Оренбургский тракт, д. 160.</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item__label">Email: </div>
                        <a href="mailto:info@eslite.ru" class="contacts__item__value">info@eslite.ru</a>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item__label">Рабочее время: </div>
                        <div class="contacts__item__value">пн-пт 09:00 — 18:30</div>
                    </div>
                </div>
                <a href="" class="btn btn-red partnermapdownload">Скачать карту партнера</a>
            </div>
            <div class="contacts__map__wrapper">
                <div class="contacts__map" id="contacts__map"></div>
            </div>
        </div>
        
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script>
            //Яндекс Карта
            ymaps.ready(init);
            var myMapAll;

            function init() {
                myMapAll = new ymaps.Map("contacts__map", {
                    center: [55.725823, 49.189266],
                    zoom: 15,
                    controls: []
                });
                var myPlacemark_1 = new ymaps.Placemark([55.725823, 49.189266], {
                    balloonContentHeader: "Название объекта",
                    balloonContentBody: "Описание объекта",
                    balloonContentFooter: "",
                    hintContent: "Кликните для более подробной информации",
                });
                myMapAll.geoObjects.add(myPlacemark_1);
            }
            //END Яндекс Карта
        </script>
    </div>
</section>
<!-- ----------------------------------------------- -->
<!-- --------------- END contatcs ------------------ -->
<!-- ----------------------------------------------- -->
{% endblock %}
